@using RoCMS.Shop.Contract.Services
@{
    var shopActionService = DependencyResolver.Current.GetService<IShopActionService>();
    IList<RoCMS.Shop.Contract.Models.Action> actions = shopActionService.GetActiveActions();
    
    
}



@foreach (var action in actions)
{
    string url = action.Goods.Count() == 1 && !action.Categories.Any() && !action.Manufacturers.Any() ?
        Url.Action("Goods", "Shop", new { id = action.Goods.Single().ID }) :
        Url.Action("Action", "Shop", new { id = action.ActionId });
    
    <div class="row article-container">
        <a href="@url">
            @if (action.ImageId != null)
            {
                <div class="col-xs-4">
                    <img src="@Url.Action("Thumbnail", "Gallery", new { id = action.ImageId })" />
                </div>
            }
            <div class='@(action.ImageId != null ? "col-xs-8" : "col-xs-12")'>
                <h4>@action.Name</h4>
                <p>@Html.Raw(action.Description)</p>
                <span class="article-link">Подробнее &raquo;</span>
            </div>
        </a>
    </div>
}