@using System.Globalization
@using RoCMS.Shop.Contract.Models
@using RoCMS.Shop.Contract.Services
@using RoCMS.Base.Helpers;
@model RoCMS.Shop.Contract.Models.GoodsItem
@{
    var goodsItem = Model;
    NumberFormatInfo nfi = new NumberFormatInfo { NumberGroupSeparator = " ", NumberDecimalDigits = 0 };
}



    <div class="goods-item">
        <div class="goods-body">
            <a href="@Url.RouteUrl(typeof(GoodsItem).FullName, new { relativeUrl=goodsItem.RelativeUrl})" title="@goodsItem.Name">
                <p class="title">@goodsItem.BreadcrumbsTitle</p>
                <img src="@Url.RouteUrl("Thumbnail", new { id = goodsItem.MainImageId })" alt="@goodsItem.Title" class="img-fluid">
                <div class="description">
                    @TextCutHelper.Cut(goodsItem.Description, 190)
                </div>
            </a>
        </div>
        <div class="goods-footer">
            @if (!goodsItem.NotAvailable)
            {
                <div class="buy-btn-container">
                    @if (goodsItem.HasPacks)
                    {
                        <a class="btn btn-green" data-bind="click: function(data,event){ onBuy(event, '@Url.Action("Checkout", "Shop")'); addItem(@goodsItem.HeartId, 1, @goodsItem.BasePackId) }" href="#"><em class="fa fa-shopping-cart"></em>Купить</a>
                    }
                    else
                    {
                        <a class="btn btn-green" data-bind="click: function(data,event){ onBuy(event, '@Url.Action("Checkout", "Shop")'); addItem(@goodsItem.HeartId, 1) }" href="#"><em class="fa fa-shopping-cart"></em>Купить</a>
                    }
                </div>
            }
            <span class="price">
                @if (goodsItem.NotAvailable)
                {
                    <span class="not-available">Нет в наличии</span>
                }
                else
                {
                    if (goodsItem.Actions.Any())
                    {
                        <span class="action"><span class="old-price">@goodsItem.Price.ToString("# ###.##", nfi) руб.</span> @goodsItem.DiscountedPrice.ToString("# ###.##", nfi) руб.</span>
                    }
                    else
                    {
                        <text>@goodsItem.Price.ToString("# ###.##", nfi) руб.</text>
                    }
                    if (goodsItem.HasPacks)
                    {
                        <span class="packInfo">за @goodsItem.BasePack.Name</span>
                    }
                }
            </span>

        </div>
    </div>






@Js("/bin/Content/client/shop")