@using RoCMS.Helpers
@using RoCMS.Shop.Services
@using RoCMS.Shop.Contract.Models
@using RoCMS.Shop.Contract.Services
@using RoCMS.Web.Contract.Services

@{
    Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
    ViewBag.Title = "Оформление заказа";
    ViewBag.Header = "Ваша корзина";

    var settingsService = DependencyResolver.Current.GetService<IShopSettingsService>();
    var shopSettings = settingsService.GetShopSettings();

    var pickUpPointsService = DependencyResolver.Current.GetService<IShopPickupPointService>();

    var couriesCities = String.IsNullOrEmpty(shopSettings.CourierCities) ? new List<string>() : shopSettings.CourierCities.Split(',').ToList();

    var shopService = DependencyResolver.Current.GetService<IShopService>();

    var points = pickUpPointsService.GetPickupPoints();
    var pickUpCities = points.Select(x => x.City).Distinct();

    var blockService = DependencyResolver.Current.GetService<IBlockService>();

}


<div class="cart">
    <div data-bind="style: { display: loadingCart() === true && hasGoods() === false ? 'block' : 'none' }">
        <div class="text-center p4">
            <em class="fa fa-spin fa-spinner fa-4x"></em>
        </div>
    </div>
    <div data-bind="style: { display: hasGoods() === false && loadingCart() === false ? 'block' : 'none' }">
        <div class="text-center p4">
            нет товаров
        </div>
    </div>
    <div style="display: none;" data-bind="style: { display: hasGoods() === true ? 'block' : 'none' }">

        @Html.Partial("_CartItems")

        <div class="row mt-4">
            @*<div class="col-md-7 promo">
                    Введите ваш промокод для получения скидки <a href="#" class="quest"></a>
                </div>
                <div class="col-xs-3 promocode">
                    <input type="text" />
                    <a class="green-btn">OK</a>
                </div>*@
            <div class="col-md-6"></div>
            <div class="col-md-6 total" data-bind="with: cart">
                Всего:
                <span data-bind="text: summary"></span>&nbsp;руб.
            </div>
        </div>

        <div data-bind="with: cart">
            <div class="row align-items-center mt-4" data-bind="style: { display: totalDiscount() ? 'flex' : 'none' }">
                <div class="col-md-6 regular-client-discount">
                    Скидка постоянному покупателю: <span data-bind="text: totalDiscount"></span>%
                </div>
                <div class="col-md-6 total">
                    С учетом скидки:
                    <span data-bind="text: discountedSummary"></span>&nbsp;руб.
                </div>
            </div>
        </div>
        <div class="process-order mt-4">

            <h2>Оформление заказа</h2>

            <div data-bind="style: {display: account().isAuthorized() === true ? 'none' : 'block'}" class="account mt-4">

                <div class="row">
                    <div class="col-md-6">
                        <div class="pan">
                            <h3>Новый покупатель</h3>
                            <div class="extra-wrap">
                                <label for="register">
                                    <input name="account" value="true" id="register" checked="checked" type="radio" data-bind="checked: withRegister">
                                    <b>Зарегистрироваться</b>
                                </label>
                            </div>

                            <div class="extra-wrap">
                                <label for="guest">
                                    <input name="account" value="false" id="guest" type="radio" data-bind="checked: withRegister">
                                    <b>Без регистрации</b>
                                </label>
                            </div>

                            <p class="login-padd">
                                Зарегистрировавшись, вы получите доступ в личный кабинет, возможность просматривать историю своих покупок и скидки на последующие заказы.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6" data-bind="with: account">
                        <div class="pan">
                            <h3>Уже зарегистрированы?</h3>
                            <div>
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-form-label col-3">Email:</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" data-bind="value: username">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-3">Пароль:</label>
                                        <div class="col-9">
                                            <input type="password" class="form-control" data-bind="value: password">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button data-bind="click: $root.authorize" class="btn btn-green leaf">Войти на сайт</button>
                                        <a href="@Url.Action("ForgotPassword", "Home")" target="_blank">Забыли пароль?</a>
                                    </div>
                                    @Html.AntiForgeryToken()
                                </form>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <form autocomplete="nope" class="form-horizontal mt-4" data-bind="validationOptions: {insertMessages: false}">
                <div data-bind="with: client">
                    @*<div class="form-group row">
                            <label class="col-form-label col-md-2 col-4">Фамилия:</label>
                            <div class="col-md-6 col-8">
                                <input type="text" class="form-control" data-bind="value: lastName" autocomplete="nope" />
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label class="col-form-label col-md-2 col-4">Имя:</label>
                        <div class="col-md-6 col-8">
                            <span class="field-validation-error"><span data-bind="validationMessage: name"></span></span>
                            <input type="text" class="form-control" data-bind="value: name" autocomplete="nope" />
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label class="col-form-label col-md-2 col-4">Отчество:</label>
                            <div class="col-md-6 col-8">
                                <input type="text" class="form-control" data-bind="value: secondName" autocomplete="nope" />
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label class="col-form-label col-md-2 col-4">Телефон:</label>
                        <div class="col-md-6 col-8">
                            <span class="field-validation-error"><span data-bind="validationMessage: phone"></span></span>
                            <input type="text" class="form-control phone" placeholder="+7 (903) 555-1212" data-bind="value: phone" autocomplete="nope" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2 col-4">Email:</label>
                        <div class="col-md-6 col-8">
                            <span class="field-validation-error"><span data-bind="validationMessage: email"></span></span>
                            <input type="text" class="form-control" data-bind="value: email, disable: clientId()" autocomplete="nope" />
                        </div>
                    </div>
                    <div data-bind="style: {display: $root.account().isAuthorized() === true || $root.withRegister() === 'false' ? 'none' : 'block'}">
                        <div class="form-group row" data-bind="with: $root.password">
                            <label class="col-form-label col-md-2 col-4">Пароль:</label>
                            <div class="col-md-6 col-8">
                                <input class="form-control" name="password" type="password" data-bind="value: password" autocomplete="nope">
                            </div>
                        </div>
                        <div class="form-group row" data-bind="with: $root.password">
                            <label class="col-form-label col-md-2 col-4">Подтвердите пароль:</label>
                            <div class="col-md-6 col-8">
                                <input class="form-control" name="password" type="password" data-bind="value: confirmPassword" autocomplete="nope">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-bind="with:order">
                    <div class="form-group row delivery">
                        <label class="col-form-label col-md-3 col-12">Способ доставки:</label>
                        <div class="col-md-9 col-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#courier" data-toggle="tab" role="tab" aria-controls="courier" aria-selected="true" data-bind="click: function(){ shipmentType('courier'); }">Доставка курьером</a></li>
                                <li class="nav-item"><a class="nav-link" href="#selfpick" data-toggle="tab" role="tab" aria-controls="selfpick" aria-selected="false" data-bind="click: function(){ shipmentType('selfPickup'); }">Самовывоз</a></li>
                                <li class="nav-item"><a class="nav-link post-link" href="#post" data-toggle="tab" role="tab" aria-controls="post" aria-selected="false" data-bind="click: function(){ shipmentType('post'); }">Почта</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="courier" role="tabpanel">
                            <div class="form-group row mt-2">
                                <label class="col-form-label col">Город:</label>
                                <div class="col-6">

                                    <select class="form-control" data-bind="value: courierCity">
                                        <option value="">Не выбран</option>
                                        @foreach (var city in couriesCities)
                                        {
                                            <option value="@city.Trim()">@city.Trim()</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm" data-bind="with: $root"><button class="btn btn-light" data-bind="click: anotherCity">Другой город</button></div>
                            </div>
                            <div class="form-group row">
                                @*<div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col">Метро:</label>
                                            <div class="col-8">
                                                <input type="text" class="form-control" data-bind="value: metro" autocomplete="nope" />
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-md-12">
                                    <div class="row">
                                        <label class="col-form-label col">Улица:</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" data-bind="value: street" autocomplete="nope" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">

                                <label class="col-form-label col-md col-6">Дом:</label>
                                <div class="col-md col-6">
                                    <input type="text" class="form-control" data-bind="value: house" autocomplete="nope" />
                                </div>
                                <label class="col-form-label col-md col-6">Корпус/строение:</label>
                                <div class="col-md col-6">
                                    <input type="text" class="form-control" data-bind="value: houseIndex" autocomplete="nope" />
                                </div>
                                <label class="col-form-label col-md col-6">Квартира:</label>
                                <div class="col-md col-6">
                                    <input type="text" class="form-control" data-bind="value: appartment" autocomplete="nope" />
                                </div>



                            </div>
                            @*<div class="form-group row">

                                    <label class="col-form-label col-md col-6">Подъезд:</label>
                                    <div class="col-md col-6">
                                        <input type="text" class="form-control" data-bind="value: frontNumber" autocomplete="nope" />
                                    </div>
                                    <label class="col-form-label col-md col-6">Этаж:</label>
                                    <div class="col-md col-6">
                                        <input type="text" class="form-control" data-bind="value: floor" autocomplete="nope" />
                                    </div>
                                    <label class="col-form-label col-md col-6">Домофон:</label>
                                    <div class="col-md col-6">
                                        <input type="text" class="form-control" data-bind="value: intercom" autocomplete="nope" />
                                    </div>


                                </div>*@
                            <div class="delivery-price" data-bind="with: $root.cart">
                                <div data-bind="style: {display : deliveryString() == 'on' ? 'block': 'none'}">
                                    Стоимость доставки: <span data-bind="text: $root.order().deliveryPrice"></span><span>&nbsp;руб.</span>
                                </div>
                                <div data-bind="style: {display : deliveryString() == 'free' ? 'block': 'none'}">
                                    Стоимость доставки: <span>бесплатно</span>
                                </div>
                                <div data-bind="style: {display : deliveryString() == 'depend' ? 'block': 'none'}">
                                    Стоимость доставки определяется <a target="_blank" class="delivery-info" href="/dostavka">условиями доставки в Ваш город</a>.
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="selfpick" role="tabpanel">
                            <div class="form-group row">
                                <label class="col-form-label col">Город:</label>
                                <div class="col-6">
                                    <select class="form-control" data-bind="value: pickUpCity">
                                        <option value="">Не выбран</option>
                                        @foreach (var city in pickUpCities)
                                        {
                                            <option value="@city.Trim()">@city.Trim()</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm" data-bind="with: $root"><button class="btn btn-default" data-bind="click: anotherCity">Другой город</button></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col">Самовывоз по адресу:</label>
                                <div class="col-8">
                                    <select class="form-control" data-bind="options: $root.filterPickUpPoints, optionsText: 'title', optionsValue: 'pickUpPointId', value: pickUpPointId"></select>
                                </div>
                            </div>
                            <div class="delivery-price" data-bind="with: $root.cart">

                                <div data-bind="style: {display : deliveryString() == 'on' ? 'block': 'none'}">
                                    Стоимость доставки: <span data-bind="text: $root.order().deliveryPrice"></span><span>&nbsp;руб.</span>
                                </div>
                                <div data-bind="style: {display : deliveryString() == 'free' ? 'block': 'none'}">
                                    Стоимость доставки: <span>бесплатно</span>
                                </div>
                                <div data-bind="style: {display : deliveryString() == 'depend' ? 'block': 'none'}">
                                    Стоимость доставки определяется <a target="_blank" class="delivery-info" href="/dostavka">условиями доставки в Ваш город</a>.
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="post" role="tabpanel">
                            <div class="form-group row">
                                <label class="col-form-label col-md">Город:</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" data-bind="value: city" autocomplete="nope" />
                                </div>
                                <label class="col-form-label col-md">Почтовый индекс</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" data-bind="value: postCode" autocomplete="nope" />
                                </div>
                            </div>
                            <div class="form-group row">

                                <label class="col-form-label col">Улица:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" data-bind="value: street" autocomplete="nope" />
                                </div>

                            </div>
                            <div class="form-group row">

                                <label class="col-form-label col-md col-6">Дом:</label>
                                <div class="col-md col-6">
                                    <input type="text" class="form-control" data-bind="value: house" autocomplete="nope" />
                                </div>
                                <label class="col-form-label col-md col-6">Корпус/строение:</label>
                                <div class="col-md col-6">
                                    <input type="text" class="form-control" data-bind="value: houseIndex" autocomplete="nope" />
                                </div>
                                <label class="col-form-label col-md col-6">Квартира:</label>
                                <div class="col-md col-6">
                                    <input type="text" class="form-control" data-bind="value: appartment" autocomplete="nope" />
                                </div>

                            </div>

                            <div class="delivery-price">
                                <div>
                                    Стоимость доставки определяется <a target="_blank" class="delivery-info" href="http://www.russianpost.ru/rp/servise/ru/home/postuslug/autotarif" rel="nofollow">тарифами почты России</a>.
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="order-footer mt-4">
                        <div class="row form-group">
                            <div class="col">
                                <label class="col-form-label green">Способы оплаты:</label>
                            </div>
                            <div class="col cash">
                                <label><input type="radio" name="paymenttype" class="radiobtn" value="cash" data-bind="checked: paymentType" />Наличными</label>
                            </div>

                            <div class="col visa" data-bind="visible: shipmentType() == 'courier' && courierCity() == 'Москва'">
                                <label><input type="radio" name="paymenttype" class="radiobtn" value="courierCard" data-bind="checked: paymentType" />Картой курьеру</label>
                            </div>

                            @*<div class="col ya-kassa"><input type="radio" name="paymenttype" class="radiobtn" value="card" data-bind="checked: paymentType" />Яндекс.Кассой</div>*@

                            @*<div class="col electro"></div>
                                <div class="col-xs-4 card"><input type="radio" name="paymenttype" class="radiobtn" value="card" data-bind="checked: paymentType" />Картой, электронными деньгами</div>*@
                        </div>
                        <div data-bind="visible: paymentType() == 'courierCard'">
                            <p class="text-danger text-center">Важно! После подтверждения заказа изменить способ оплаты будет нельзя!</p>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Комментарии к заказу:</label>
                            <div>
                                <textarea class="form-control" data-bind="value: comment" autocomplete="nope"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 total" data-bind="with: cart">
                        Сумма заказа:
                        <span data-bind="text: finalSummary()"></span>&nbsp;руб.
                    </div>
                </div>
                <div class="accept">
                    <label><input data-bind="value: termsAccepted" type="checkbox" class="cb" />&nbsp;я соглашаюсь с <a target="_blank" href="/policy">пользовательским соглашением</a></label>
                </div>
                <div class="submit">
                    <img src="@Url.Content("/Content/base/ro/img/ajax-loader.gif")" alt="Оформление заказа" data-bind="style: { display: $root.orderInProcess() ? 'inline' : 'none' }" />
                    <button type="submit" class="btn btn-success" data-bind="click: processOrder, enable: $root.orderInProcess() === false">Отправить заказ</button>

                </div>
            </form>
        </div>
    </div>
</div>



@Js("/bin/Content/client/shop")

@JsInline(@<script type="text/javascript">
    var deliveryCost = parseFloat('@shopSettings.DeliveryCost');
    var selfPickUpCost = parseFloat('@shopSettings.SelfPickupCost');
    var discountedDeliveryCost = parseFloat('@shopSettings.SelfPickupCost');
    $(function() { onCartLoaded(); });

</script>)
