
@using RoCMS.Shop.Contract.Models
@model RoCMS.Shop.Contract.Models.Client

@{
    Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
    ViewBag.Title = ViewBag.Header = "Личный кабинет";

    IEnumerable<Order> orders = ViewBag.Orders ?? new List<Order>();


    int clientId = Model != null ? Model.ClientId : 0;
}

<div class="personal">

    @if (Model == null)
    {

        <p class="text-center">Вы еще не совершали заказы в нашем магазине</p>

    }
    else
    {<form class="form-horizontal profile">
            <div class="row">

                <div class="col-md-6">
                    <h2>Контакты</h2>

                    <div class="form-group row">
                        <label class="col-form-label col-4">Фамилия:</label>
                        <div class="col-8">
                            <input type="text" class="form-control last-name" value="@Model.LastName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Имя:</label>
                        <div class="col-8">
                            <input type="text" class="form-control first-name" value="@Model.Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Телефон:</label>
                        <div class="col-8">
                            <input type="text" value="@Model.Phone" class="form-control phone" placeholder="+7 (903) 555-1212" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Email:</label>
                        <div class="col-8">
                            <input type="text" value="@Model.Email" class="email form-control" disabled="disabled" />
                        </div>
                    </div>
                    @*<div>
                            <div class="form-group row">
                                <label class="col-form-label col">Пароль:</label>
                                <div class="col-6">
                                    <input class="form-control" name="password" value="" type="password" data-bind="value: $root.password().password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col">Подтвердите пароль:</label>
                                <div class="col-6">
                                    <input class="form-control" name="password" value="" type="password" data-bind="value: $root.password().confirmPassword">
                                </div>
                            </div>
                        </div>*@

                </div>
                <div class="col-md-6">
                    <h2>Базовый адрес доставки</h2>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Город:</label>
                        <div class="col-8">
                            <input type="text" class="form-control city" value="@Model.Address.City" />
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Индекс:</label>
                        <div class="col-8">
                            <input type="text" class="form-control post-code" value="@Model.Address.PostCode" />
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-4">Метро:</label>
                        <div class="col-8">
                            <input type="text" class="form-control metro" value="@Model.Address.Metro" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Улица:</label>
                        <div class="col-8">
                            <input type="text" class="form-control street" value="@Model.Address.Street" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col">Дом:</label>
                        <div class="col no-padding">
                            <input type="text" class="form-control house" value="@Model.Address.House" />
                        </div>
                        <label class="col-form-label col">Корп./стр.:</label>
                        <div class="col no-padding">
                            <input type="text" class="form-control houseIndex" value="@Model.Address.HouseIndex" />
                        </div>


                    </div>
                    <div class="form-group row">
                        <label class="col-form-label  col">Кв.:</label>
                        <div class="col no-padding">
                            <input type="text" class="form-control appartment" value="@Model.Address.Appartment" />
                        </div>
                        <label class="col-form-label col">Под.:</label>
                        <div class="col no-padding">
                            <input type="text" class="form-control front-number" value="@Model.Address.FrontNumber" />
                        </div>
                        @*<label class="col-form-label col">Этаж:</label>
                            <div class="col no-padding">
                                <input type="text" class="form-control floor" value="@Model.Address.Floor" />
                            </div>
                            <label class="col-form-label col">Домофон:</label>
                            <div class="col no-padding">
                                <input type="text" class="form-control intercom" value="@Model.Address.Intercom" />
                            </div>*@
                    </div>
                </div>


            </div>
            <div>
                <button class="btn btn-green save-profile">Сохранить</button>
            </div>
        </form>
    }

    @if (orders.Any())
    {
        <div class="row cart mt-4">
            <div class="col-12">
                <h2>История заказов</h2>
                @foreach (var order in orders)
                {
                    <h4><a onclick="true" class="show-order-details">@order.CreationDate.ToShortDateString()</a></h4>
                    <div style="display: none;">

                        @foreach (var goodsItem in order.GoodsInOrder)
                        {
                            var url = String.IsNullOrEmpty(goodsItem.Goods.RelativeUrl) ? "#" : Url.RouteUrl(typeof(GoodsItem).FullName, new { relativeUrl = goodsItem.Goods.RelativeUrl });


                            <div class="cart-goods-item">
                                <div class="row align-items-center">
                                    <div class="col-md-2 col-4">
                                        @if (!String.IsNullOrEmpty(goodsItem.Goods.MainImageId))
                                        {
                                            <a href="@url">
                                                <img class="img-fluid" src="/Gallery/Thumbnail/@goodsItem.Goods.MainImageId" alt="@goodsItem.Goods.Name" />
                                            </a>
                                        }
                                    </div>
                                    <div class="col-md-7 col-8">
                                        <div class="cart-goods-item-header">
                                            <a href="@url">
                                                @(goodsItem.PackId.HasValue && goodsItem.Goods.Packs.Any(x => x.PackInfo.PackId == goodsItem.PackId) ?
                                                                  String.Format("{0} {1}", goodsItem.Goods.Name, goodsItem.Goods.Packs.First(x => x.PackInfo.PackId == goodsItem.PackId).PackInfo.Name) : goodsItem.Goods.Name)
                                            </a>
                                        </div>
                                        <div class="small">Артикул: @goodsItem.Goods.Article</div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <div class="price">@(Math.Round(goodsItem.Price * goodsItem.Quantity, 2))<span></span>&nbsp;руб.</div>
                                                <div class="small">@goodsItem.Quantity x <span>@goodsItem.Price</span>&nbsp;руб.</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        @if (order.DeliveryPrice.HasValue)
                        {
                            <div class="row">
                                <div class="col-12">
                                    Стоимость доставки: @order.DeliveryPrice руб.
                                </div>
                            </div>
                        }
                        @if (order.TotalDiscount > 0)
                        {
                            <div class="row">

                                <div class="col-12">

                                    Скидка постоянному покупателю: <strong>@order.TotalDiscount </strong> %

                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-12 total">
                                @if (order.TotalDiscount > 0)
                                {
                                    <text>Всего учетом скидки и доставки:</text>
                                }
                                else if (order.DeliveryPrice.HasValue)
                                {
                                    <text>Всего с учетом доставки</text>
                                }
                                else
                                {
                                    <text>Всего без учета доставки</text>
                                }
                                <span>@order.Summary</span>&nbsp;руб.
                            </div>
                        </div>
                        <hr />
                    </div>


                }
            </div>
        </div>
    }
</div>



@JsInline(@<script>
    $(function () {
        $(".show-order-details").click(function () {
            var table = $(this).parent("h4").next("div");
            table.animate({ height: ["toggle", "swing"] }, 300);
            return false;
        });

        $("input.phone").mask('+7 (000) 000-00-00');

        $("button.save-profile").click(function () {
            var $form = $('form.profile');
            jQuery.validator.unobtrusive.parse($form);
            if ($form.valid()) {
                var lastName = $("input.last-name").val();
                var name = $("input.first-name").val();
                var phone = $("input.phone").val();
                var city = $("input.city").val();
                var metro = $("input.metro").val();
                var postCode = $("input.post-code").val();
                var street = $("input.street").val();
                var house = $("input.house").val();
                var frontNumber = $("input.front-number").val();
                var appartment = $("input.appartment").val();

                blockUI();

                postJSON("/api/shop/client/update", {
                    lastName: lastName,
                    name: name,
                    phone: phone,
                    address: {
                        city: city,
                        metro: metro,
                        street: street,
                        house: house,
                        frontNumber: frontNumber,
                        appartment: appartment,
                        postCode: postCode

                    },
                    clientId: '@clientId'
                }, function () {

                }).always(function () { unblockUI(); });
            }
            else {
                $form.validate().focusInvalid();
            }
            return false;
        });
    });
</script>)