@using System.Web.Optimization
@using Resources
@using RoCMS.Base.ForWeb.Helpers
@using RoCMS.Web.Contract.Services
@using Block = RoCMS.Web.Contract.Models.Block
@using Menu = RoCMS.Web.Contract.Models.Menu
@using Review = RoCMS.Web.Contract.Models.Review
@{


    var blockService = DependencyResolver.Current.GetService<IBlockService>();
    var settingsService = DependencyResolver.Current.GetService<ISettingsService>();


    string siteName = settingsService.GetSiteName();
    var headerBlock = blockService.GetBlock(1);
    var footerBlock = blockService.GetBlock(2);
    var metriksBlock = blockService.GetBlock(3);
    var copyrightBlock = blockService.GetBlock(4);
    var ctaBlock = blockService.GetBlock(5);


    var rootUrl = settingsService.GetSettings<string>("RootUrl");

}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@(String.Format("{0} - {1}", ViewBag.Title, siteName))</title>
    <meta charset="UTF-8" />
    @Html.Raw(@TempData["AdditionalHeaders"])
    <meta name="keywords" content="@TempData["MetaKeywords"]">
    <meta name="description" content="@TempData["MetaDescription"]">
    @if (ViewBag.DisableIndexation == true)
    {
        <meta name="robots" content="noindex, nofollow" />
    }

    @if (ViewBag.CanonicalUrl != null && Request.Url.AbsolutePath != Url.Action("Index", "Home"))
    {
        <link rel="canonical" href="@rootUrl@ViewBag.CanonicalUrl">
    }
    @Js("Content/base/vendor/jquery/core")
    @Js("Content/base/vendor/knockout")
    @Js("Content/base/ro/js")
    @Js("Content/theme")
    @Js("Content/client/ro/js/rocms.client.callback.js")
    @Js("Content/client/ro/js/rocms.client.orderform.js")
    @Css("Content/client/vendor/bootstrap-image-gallery/js")
    @Html.Partial("_BaseMetas")

    @Css("Content/base/vendor/Font-Awesome")
    @Css("Content/base/ro/css")
    @Css("Content/theme/css")
    @Css("Content/client/ro/css")
    @Css("Content/client/vendor/bootstrap-image-gallery/css")

    <link rel="shortcut icon" href="@Url.Content("~/Content/theme/images/favicon.ico")" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,400,700|Roboto:100,300,400,400i,700&amp;subset=cyrillic" rel="stylesheet">

    @RenderStylesheets()

    <style>
        @Html.Raw(ViewBag.Styles)
    </style>
</head>
<body>



    <header class="fixed-top">
        <div class="container">
            <div class="top-head d-flex justify-content-between align-items-center navbar-expand-md">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-list"></span></button>
                @Block(headerBlock)
            </div>
        </div>
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav3">
                    @Html.Partial("_MainMenu")
                </div>
            </div>
        </nav>
    </header>

    <div id="main">
        @RenderBody()
    </div>

    <div class="cta">
        <div class="container">
            @Block(ctaBlock)
        </div>
    </div>

    <footer>
        <div class="up">
            <div class="container">
                @Block(footerBlock)
            </div>
        </div>
        <div class="down text-center">
            @Block(copyrightBlock) Создание сайта - <a target="_blank" href="https://synweb.ru">веб-студия Синвеб</a>
        </div>
    </footer>


    <div class="totop">
        <div class="gototop">
            <a href="#">
                <em class="fa fa-angle-up"></em>
            </a>
        </div>
    </div>

    @Html.Partial("_BlueimpGallery")
    @Html.Partial("_DialogContainer")
    @Html.Partial("_SmartAlert")
    @if (!Request.IsLocal)
    {
        @Block(metriksBlock)
    }

    @RenderScripts()

    <script>
    @Html.Raw(ViewBag.Scripts)
    </script>
</body>
</html>
