@using Resources
@model RoCMS.Web.Contract.Models.UserRegistration

@{
    Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
    ViewBag.Title = ViewBag.Header = "Регистрация";
}

<h1>Регистрация</h1>

<form class="register-block form-horizontal">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="form-group">
        <label class="col-md-3 control-label text-right" for="Username">@Strings.UserRegister_Username</label>
        <div class="col-md-5">
            <input class="form-control textbox-username" id="Username" name="Username" type="text" data-val="true" data-val-required="*">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label text-right" for="Email">Email</label>
        <div class="col-md-5">
            <input class="form-control textbox-email" id="Email" name="Email" type="text" data-val="true" data-val-required="*">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label text-right" for="Password">@Strings.UserRegister_Password</label>
        <div class="col-md-5">
            <input class="form-control textbox-password" id="Password" name="Password" type="password" data-val="true" data-val-required="*">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label text-right" for="RepeatPassword">@Strings.UserRegister_RepeatPassword</label>
        <div class="col-md-5">
            <input class="form-control textbox-password-repeat" id="RepeatPassword" name="RepeatPassword" type="password" data-val="true" data-val-required="*">
        </div>
    </div>
    <div class="text-center">

        <button class="register common-button btn btn-primary">@Strings.UserRegister_RegisterButton</button>

    </div>
</form>
