@using RoCMS.Base.ForWeb.Helpers
@using RoCMS.Base.ForWeb.Models
@using RoCMS.Base.Helpers
@model IEnumerable<RoCMS.Web.Contract.Models.Search.SearchResultItem>

@{

    //List<BreadCrumb> breadCrumbs = ViewBag.BreadCrumbs as List<BreadCrumb> ?? new List<BreadCrumb>();

    string query = (string)ParamExtractor.ExtractUrlParams(Request)["query"];

    ViewBag.Title = ViewBag.Header = "Результаты поиска по запросу \"" + query + "\"";


    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
    }
}
@if (!Model.Any())
{

    <span class="search-not-found">По запросу &laquo;@query&raquo; ничего не найдено</span>

}

@Html.Partial("_Pager")


@foreach (var searchItem in Model)
{
    
    <a class="search-result" href="@searchItem.Url">
        <div class="row">
            <div class='col'>
                <h4>@searchItem.Title</h4>
                <p>@TextCutHelper.Cut(searchItem.Text, 190)</p>
                <span class="article-link btn btn-light">Подробнее &raquo;</span>
            </div>
            @if (searchItem.ImageId != null)
            {
                <div class="col-3">
                    <img class="img-fluid" src="@Url.RouteUrl("Thumbnail", new { id = searchItem.ImageId })" />
                </div>
            }
        </div>
    </a>
   
}

@Html.Partial("_Pager")
