@using RoCMS.Comments.Contract.Services
@using RoCMS.Comments.Contract.ViewModels
@model RoCMS.Comments.Contract.ViewModels.CommentsBlockVM

<div class="comments single_post_comment_area">
    @if (Model.TopicId.HasValue)
    {
        var commentService = DependencyResolver.Current.GetService<ICommentService>();
        ICollection<CommentVM> threads = commentService.GetThreadsByTopic(Model.TopicId.Value, false);
        if (threads.Any())
        {
            <div class="section-heading">
                <p class="comments-title">@Model.SectionHeader</p>
            </div>
            <div class="mg-sm">
                @Html.Partial("_Thread", threads)
            </div>
        }
    }
    <div class="section-heading">
        <p class="comments-title">@Model.LeaveCommentHeader</p>
    </div>
    <div class="mg-sm">
        @Html.Partial("_LeaveComment")
    </div>
</div>


@Js("/bin/Content/client/comments")
@JsInline(@<script>
    $(function () {
        commentsLoaded("@(Model.AddCommentApiUrl)");
    });
    </script>)

