@using RoCMS.Comments.Contract.Services
@using RoCMS.Comments.Contract.ViewModels
@model RoCMS.Comments.Contract.ViewModels.CommentsBlockVM

<div class="comments single_post_comment_area">


    @if (Model.TopicId.HasValue)
    {
        var commentService = DependencyResolver.Current.GetService<ICommentService>();
        ICollection<CommentVM> threads = commentService.GetThreadsByTopic(Model.TopicId.Value, false);
        if (threads.Any())
        {
            <h2 class="comments-title">@Model.SectionHeader</h2>
            @Html.Partial("_Thread", threads)
        }
    }
    <h2 class="comments-title">@Model.LeaveCommentHeader</h2>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_LeaveComment")
    }
    else
    {
        <p class="text-center">Авторизуйтесь, чтобы оставить комментарий</p>
    }
</div>


@Js("/bin/Content/client/comments")
@JsInline(@<script>
    $(function () {
        commentsLoaded("@(Model.AddCommentApiUrl)");
    });
</script>)