@using System.Globalization
@using RoCMS.Base.Models
@using RoCMS.News.Contract.Models
@using RoCMS.News.Contract.Services
@using RoCMS.Web.Contract.Extensions

@model string
@{
    var newsService = DependencyResolver.Current.GetService<INewsItemService>();
    int total;
    int count = 10;
    IEnumerable<NewsItem> news = newsService.GetNewsPage(new NewsFilter()
    {
        TagName = Model,
        OnlyPosted = true,
        SortBy = NewsItemSortBy.PostingDate,
        SortOrder = SortOrder.Desc
    }, 1, count, out total);
}



<ul class="no no-pd">
    @foreach (var item in news)
    {
        string imgUrl = Url.RouteUrl("Thumbnail", new { id = item.ImageId });
        <li class="short">
            <a href="@Url.RouteUrl(typeof(RoCMS.News.Contract.Models.NewsItem).FullName, new {relativeUrl = item.CanonicalUrl})" class="blog-item">
                @if (!string.IsNullOrEmpty(item.ImageId))
                {
                    <div class="blog-item-image">
                        <img src="@imgUrl" alt="@item.Title" class="img-fluid">
                    </div>
                }
                <div class="blog-item-content @(string.IsNullOrEmpty(item.ImageId) ? "noimage":"")">
                    <div class="blog-item-meta">
                        <em class="fa fa-calendar"></em>&nbsp;@item.PostingDate.ApplySiteTimezone().ToString("dd.MM.yyyy", CultureInfo.CurrentUICulture)
                    </div>
                    <div class="blog-item-title">
                        @item.Title
                    </div>
                </div>
            </a>
        </li>
    }
</ul>
