@using System.Globalization
@using RoCMS.Base.ForWeb.Extensions
@using RoCMS.Comments.Contract.ViewModels
@using RoCMS.Web.Contract.Services
@using RoCMS.Web.Contract.Extensions
@using RoCMS.News.Contract.Models
@model RoCMS.News.Contract.Models.NewsItem
@{
    ViewBag.Title = ViewBag.Header = Model.Title;


    ViewBag.Styles = Model.Styles;
    ViewBag.Scripts = Model.Scripts;

    ViewBag.CanonicalUrl = Url.RouteUrl(typeof(NewsItem).FullName, new { relativeUrl = Model.CanonicalUrl });
    ViewBag.DisableIndexation = Model.Noindex;


    var userService = DependencyResolver.Current.GetService<ISecurityService>();

    if (!String.IsNullOrEmpty(Model.Layout))
    {
        ViewBag.Layout = Model.Layout;

        Layout = String.Format("~/Views/Shared/PublicLayouts/_{0}.cshtml", Model.Layout);
    }
    else
    {
        Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
    }

    bool showEditLink = User.IsAuthorizedForResource(RoCMS.Base.RoCmsResources.News);



    var blockService = DependencyResolver.Current.GetService<IBlockService>();
    var sidebarBlock = blockService.GetBlock(6);

    var shareBlock = blockService.GetBlock(7);

}

@if (showEditLink)
{
    @Html.Partial("_AdminWidget", Url.Action("EditNews", "NewsEditor", new { id = Model.HeartId }))
}

<div class="row">
    <div class="col-md-9">
        <div class="news-item" data-news-id="@Model.HeartId">
            <div class="post-meta mb-4">
                <em class="fa fa-calendar"></em>&nbsp;@Model.PostingDate.ApplySiteTimezone().ToString("dd.MM.yyyy", CultureInfo.CurrentUICulture)

                @if (!string.IsNullOrEmpty(Model.Tags))
                {
                    <text> | </text>
                    foreach (var tag in Model.Tags.Split(','))
                    {
                        <a href="@Url.RouteUrl("BlogTagSearch", new {tag = tag})">@tag</a>
                        if (!Model.Tags.EndsWith(tag))
                        {
                            <text> | </text>
                        }
                    }
                }

            </div>
            @if (!string.IsNullOrEmpty(Model.ImageId))
            {

                <img src="@Url.RouteUrl("Image", new {id = Model.ImageId})" class="img-fluid main-img mb-4" alt="@Model.Title">

            }
            @Ro(Model.Text)

        </div>


                  @*@Html.Partial("_CommentsBlock", new CommentsBlockVM(Model.HeartId,
    
    "Комментировать",
    "Комментарии"))*@

        @Block(shareBlock)
    </div>
    <div class="col-md-3 sidebar">
        @Block(sidebarBlock)
    </div>
</div>



@JsInline(@<script>
    $(function () {
        setTimeout(function () {
            postJSON("/api/news/"+@Model.HeartId+"/view");
        }, 4000);
    });
    </script>)
