@using System.Globalization
@using RoCMS.Base.ForWeb.Helpers
@using RoCMS.Base.ForWeb.Extensions
@using RoCMS.News.Contract.Resources
@using RoCMS.Web.Contract.Services
@using RoCMS.Web.Contract.Extensions
@model IEnumerable<RoCMS.News.Contract.Models.NewsItem>

@{

    var blockService = DependencyResolver.Current.GetService<IBlockService>();
    var sidebarBlock = blockService.GetBlock(8);

    var userService = DependencyResolver.Current.GetService<ISecurityService>();

}

@if (ViewBag.NoLayout != null && (bool)ViewBag.NoLayout)
{
}
else
{
    Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
}


<div class="row">
    <div class="col-md-9 blog-page">
        @foreach (var item in Model)
        {
            <div class="mb-4">
                <a href="@Url.RouteUrl(typeof(RoCMS.News.Contract.Models.NewsItem).FullName, new {relativeUrl = item.CanonicalUrl})" class="blog-item">
                    @if (!string.IsNullOrEmpty(item.ImageId))
                    {
                        <div class="blog-item-image">
                            <img src="@Url.RouteUrl("Image", new {id = item.ImageId})" class="img-fluid" alt="@item.Title">
                        </div>
                    }
                    <div class="blog-item-content">
                        <div class="blog-item-meta">
                            <em class="fa fa-calendar"></em>&nbsp;@item.PostingDate.ApplySiteTimezone().ToString("dd.MM.yyyy", CultureInfo.CurrentUICulture)
                        </div>
                        <div class="blog-item-title">
                            @item.Title
                        </div>
                        <div class="blog-item-description">
                            @item.Description
                        </div>
                    </div>
                </a>
            </div>
        }

        @Html.Partial("_Pager")
    </div>
    <div class="col-md-3 sidebar">
        @Block(sidebarBlock)
    </div>
</div>



