@using System.Globalization
@using RoCMS.Base.ForWeb.Helpers
@using RoCMS.Base.ForWeb.Extensions
@using RoCMS.News.Contract.Resources
@using RoCMS.Web.Contract.Services
@using RoCMS.Web.Contract.Extensions
@model IEnumerable<RoCMS.News.Contract.Models.NewsItem>

@{

    var blockService = DependencyResolver.Current.GetService<IBlockService>();
    var sidebarBlock = blockService.GetBlock(6);

    var userService = DependencyResolver.Current.GetService<ISecurityService>();

}

@if (ViewBag.NoLayout != null && (bool)ViewBag.NoLayout)
{
}
else
{
    Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
}


<div class="row">
    <div class="col-md-9">
        @foreach (var item in Model)
        {
            



            <div class="blog-item">
                @if (!string.IsNullOrEmpty(item.ImageId))
                {
                    <div class="blog-image">
                        <a href="@Url.RouteUrl(typeof(RoCMS.News.Contract.Models.NewsItem).FullName, new {relativeUrl = item.CanonicalUrl})">
                            <img src="@Url.Action("Image", "Gallery", new {id = item.ImageId})" class="img-responsive" alt="@item.Title">
                        </a>
                    </div>
                }

                <div class="post-meta"><em class="fa fa-clock-o"></em>&nbsp;@item.PostingDate.ApplySiteTimezone().ToString("d MMM yyyy HH:mm", CultureInfo.CurrentUICulture)</div>
                <a href="@Url.RouteUrl(typeof(RoCMS.News.Contract.Models.NewsItem).FullName, new {relativeUrl = item.CanonicalUrl})" class="heading">@item.Title</a>
                <p>@item.Description</p>
                <a class="btn btn-dark" href="@Url.RouteUrl(typeof(RoCMS.News.Contract.Models.NewsItem).FullName, new {relativeUrl = item.CanonicalUrl})">Читать далее...</a>

            </div>

        }

        @Html.Partial("_Pager")
    </div>
    <div class="col-md-3 sidebar">
        @Block(sidebarBlock)
    </div>
</div>



