@using Resources

@{
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    }
    ViewBag.PageTitle = Strings.AdminMenu_ChangePassword;
}
<div class="row">
    <div class="col-lg-4">
        <div class="form-horizontal common-settings">
            <div class="form-group text-center">
                <a href="#" class="change-pass-link btn btn-warning">@Strings.AdminCommonConfig_ChangePassword</a>
                <div class="change-pass" style="display: none">
                    <ul>
                        <li>
                            <span class="change-pass-captition">@Strings.AdminCommonConfig_CurrentPassword</span>
                            <input type="password" class="old-pass form-control" />
                        </li>
                        <li>
                            <span class="change-pass-captition">@Strings.AdminCommonConfig_NewPassword</span>
                            <input type="password" class="new-pass form-control" />
                        </li>
                        <li>
                            <span class="change-pass-captition">@Strings.AdminCommonConfig_RepeatPassword</span>
                            <input type="password" class="repeat-pass form-control" />
                        </li>
                    </ul>
                    <div class="form-group text-center">
                        <a class="save-password btn btn-success cent" title="@Strings.AdminCommonConfig_Save" href="#">@Strings.AdminCommonConfig_Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>