@using RoCMS.Web.Contract.Services
@model IList<RoCMS.Base.ForWeb.Models.BreadCrumb>


@{
    var settingsService = DependencyResolver.Current.GetService<ISettingsService>();
    var settings = settingsService.GetSettings();

    string mainTitle = settings.RootBreadcrumbsTitle;
}

<ol class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    @if (Model.Any())
    {
        <li class="home" typeof="v:Breadcrumb">
            <a href="/" title="Главная" rel="v:url" property="v:title">
                @if (String.IsNullOrEmpty(mainTitle))
                {
                    <i class="fa fa-home"></i>
                }
                else
                {
                    <text>@mainTitle</text>
                }
            </a>
        </li>
    }
    else
    {
        <li class="active" typeof="v:Breadcrumb">
            <span title="Главная" rel="v:url" property="v:title">
                @if (String.IsNullOrEmpty(mainTitle))
                {
                    <i class="fa fa-home"></i>
                }
                else
                {
                    <text>@mainTitle</text>
                }
            </span>
        </li>
    }
    @foreach (var crumb in Model)
    {
        if (!String.IsNullOrEmpty(crumb.Url) && !crumb.IsLast)
        {
            <li typeof="v:Breadcrumb">
                <a href="@crumb.Url" rel="v:url" property="v:title" title="@crumb.Title">@crumb.Title</a>
            </li>

        }
        else
        {
            <li class="active"><span>@crumb.Title</span></li>
        }
    }
</ol>



