@using RoCMS.Web.Contract.Services
@using RoCMS.Web.Contract.Models
@{

    var blockService = DependencyResolver.Current.GetService<IBlockService>();

    var menuService = DependencyResolver.Current.GetService<IMenuService>();
    var mainMenu = menuService.GetMainMenu();
    var pageService = DependencyResolver.Current.GetService<IPageService>();

    string curPath = HttpUtility.UrlDecode(Request.Url.AbsolutePath);
    var heartService = DependencyResolver.Current.GetService<IHeartService>();

    var mainPage = DependencyResolver.Current.GetService<ISettingsService>().GetHomepageUrl();

}

<ul class="navbar-nav justify-content-between">
    <li class="nav-item @(Request.Url.AbsolutePath == Url.Action("Index", "Home") ? "active" : "")"><a class="nav-link" href="/"><i class="fa fa-home"></i></a></li>
    @foreach (var menuItem in mainMenu.Items)
    {
        string url = "#";
        bool hasMegaMenu = menuItem.BlockId.HasValue;
        bool hasChildren = menuItem.Items != null && menuItem.Items.Any();
        bool showCaret = hasChildren || hasMegaMenu;
        if (menuItem.HeartId.HasValue)
        {
            url = String.Format("/{0}", heartService.GetCanonicalUrl(menuItem.HeartId.Value));
            if (url == "/" + mainPage)
            {
                url = "/";
            }
        }
        <li class="nav-item @((curPath == url || curPath.Contains(String.Format("{0}/", url))) ? "active" : "") @(hasMegaMenu ? "mega":"") @(showCaret ? "dropdown" : "" )">
            <a href="@url" class="nav-link @(showCaret ? "dropdown-toggle" : "")">
                @menuItem.Name
            </a>
            @if (hasMegaMenu)
            {
                var block = blockService.GetBlock(menuItem.BlockId.Value);
                if (block != null)
                {
                    <div class="megamenu">
                        @Html.Raw(block.Content)
                    </div>
                }
            }
            else if (hasChildren)
            {
                <ul class="dropdown-menu">
                    @foreach (var subItem in menuItem.Items)
                    {
                        string suburl = "#";
                        if (subItem.HeartId.HasValue)
                        {
                            suburl = String.Format("/{0}", heartService.GetCanonicalUrl(subItem.HeartId.Value));
                        }
                        <li class="@((curPath == suburl || curPath.Contains(String.Format("{0}/", suburl))) ? "active" : "")">
                            <a class="dropdown-item" href="@suburl">@subItem.Name</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>


