@model RoCMS.Base.ForWeb.Models.EditorVM

@Js("Content/admin/vendor/ace")
@Js("Content/admin/ro/wysiwyg/rocms.wysiwyg.js")

<div class="wysiwyg-container" data-editor-id="@(Model.ElementId)">
    <textarea class="@Model.ElementClass aceEditorArea" id="@(Model.ElementId)" data-ace-mode="@Model.ACEMode">@Model.Content</textarea>
    @if (Model.ShowCommonButtons)
    {
        @Html.Partial("Editor/_CommonButtons", Model.ElementId)
    }
</div>

@if (Model.AutoInit)
{

    @JsInline(@<script>
                   $(function() {
                       createACEEditor("@Model.ElementId", "@Model.ACEMode");
                   });


               </script>)
}