@using RoCMS.Web.Contract.Services
@model int

@{
    var albumService = DependencyResolver.Current.GetService<IAlbumService>();
    var albumImages = albumService.GetAlbumImages(Model);
}

<div class="owl-carousel" id="carousel-@Model">

    @foreach (var img in albumImages)
            {
        <div>
            <a @(String.IsNullOrWhiteSpace(img.DestinationUrl) ? String.Format("data-gallery=carousel-{0} href={1}", Model, Url.RouteUrl("Image", new { id = img.ImageId })) : String.Format("href={0}", img.DestinationUrl))>
                <img src="@Url.RouteUrl("Image", new { id = img.ImageId })" alt="@img.Title">
            </a>
        </div>
    }

</div>

@Js("Content/client/vendor/bootstrap-image-gallery/js")


@JsInline(@<script type="text/javascript">
    $(function () {


        $("#carousel-@Model").ready(function () {
            $('.owl-carousel').owlCarousel({
                margin: 10,
                responsiveClass: false,
                navText: ['<em class="fa fa-angle-left"></em>', '<em class="fa fa-angle-right"></em>'],
                autoWidth: false,
                items: 1,
                loop: true,
                nav: true
            });
        });
    });
    </script>)
